@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML ROOTS */
@layer base {
	body {
		@apply bg-[#141414] text-white;
	}

	header {
		@apply flex items-center justify-between py-4 px-4 w-full fixed top-0 transition-all lg:px-10 lg:py-4;
	}
}

/* CUSTOM CLASSES */
@layer components {
	.navLink {
		@apply cursor-pointer text-sm font-light text-[#fff] hover:text-[#b3b3b3];
	}
}

